<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FF8906"/>
  <meta name="description" content="A Restaurant Catalogue Website">

  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
  <link rel="preconnect" href="https://fonts.googleapis.com">
 
  <title>Lagi Laper</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip to Content</a>
  <header class="app-bar">
    <div class="brand">
      <picture>
        <source type="image/webp" srcset="./images/logo.webp">
        <source type="image/png" srcset="./images/logo.png">
        <img src="./images/logo.png" alt="lagi laper">
      </picture>
    </div>
    <div class="menu">
      <button id="hamburgerButton" class='touch-icon' aria-label="open menu bar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
      </button>
    </div>
    <nav id="navigationDrawer" class="navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://furitsu.site">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div id="preload">
    <div class="progress">
      <p>Loading</p>
    </div>
  </div>
  <main id="mainContent"></main>
  <footer>
    Copyright &copy 2023, Lagi Laper
  </footer>
</body>
</html>
